.page{
    padding: 2rem;
    
}

#products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td {
    border: 1px solid #ddd;
    padding: 8px;
}

#products tr{
    background-color: #fff;
}

#products tr:hover {
    background-color: #ddd;
}

#products th {
    padding: 12px;
    text-align: left;
    background-color: #b5adfd;
    color: black;
    font-weight: 400;
}

.buy-button{
    background-color: #7d77af;
    border: none;
    color: #fff;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: .3rem;
    cursor: pointer;
}

.confirmation_model{
    display: none;
}
input[type="text"],
input[type="number"] {
    width: 30%;
    padding: 13px 20px;
    margin: 2px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f3f8ff;
    border-radius: 5px;
}
select {
    box-sizing: border-box;
    background-color: #e8f1fc;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    margin: 2px 0;
    width: 30%;
    border: 1px solid #ccc;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #17a2b8;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.wrapper {
  width: 36%;
  border-radius: 10px;
}
.wrapper2 {
    width: 100%;
    
    padding: 25px 5px 20px;
    display: flex;
    gap: .3rem;
  }
.price-input {
  width: 100%;
  display: flex;
  margin: 12px 5px 12px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.next-button{
  background-color: #1C3879;
    color: white;
    font-weight: 400;
    padding: 12px 20px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.line {
  display: grid;
  grid-template-columns: .5fr .5fr;
  padding: .5rem .5rem; 
 
}



