
.buy-form {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: relative;
}
select {
    box-sizing: border-box;
    background-color: #f3f8ff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    margin: 2px 0;
    width: 50%;
    border: 1px solid #ccc;
     -webkit-appearance: button;
    appearance: button;
    outline: none;
}

/* .buton {
    background-color: #1C3879;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
} */
/* Default button style */
.buton {
    background-color: #1C3879;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
}

/* Responsive adjustments for smaller screens (mobile) */
@media screen and (max-width: 768px) {
    .buton {
        width: 100%; /* Full width for mobile */
        padding: 10px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size if needed */
    }
}

input[type="text"],
input[type="password"]{
    width: 50%;
    padding: 12px 20px;
    margin: 2px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f3f8ff;
    border-radius: 5px;
}
input[type="number"] {
    width: 50%;
    padding: 12px 20px;
    margin: 2px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f3f8ff;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    text-align: center;
}
.responsive-table li {
    border-radius: 3px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.table-header {
    background-color: #1C3879;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fff;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.table-row:hover {
    background-color: #c6c5c5;
}
.col-1 {
    flex-basis: 20%;
}
.col-2 {
    flex-basis: 6%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 25%;
}
.col-5 {
    flex-basis: 13%;
}

.icone {
    margin: 1px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.table-row-details {
    background-color: #c6c5c5;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.details-items {
    display: flex;
    width: 100%;
}
.details-items-under {
    padding: 0.5rem;
}
.button-status {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6658ea;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    max-width: fit-content;
    margin-top: 0.5rem;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 10px 0;
    }

    .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}
